<h2 mat-dialog-title style="text-align: center;" *ngIf="fromWhat === 'question'">Are you sure about deleting this question?</h2>
<h2 mat-dialog-title style="text-align: center;" *ngIf="fromWhat === 'group'">Are you sure about deleting this group?</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions class="dialog-main">
    <div class="add-buttons">
        <button mat-raised-button class="add-btn" (click)="confirmDelete()">Yes</button>
    </div>
    <div class="cancel-button-container">
        <button mat-button mat-dialog-close  class="cancel">Cancel</button>
    </div>
</mat-dialog-actions>
